*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 80vw;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
[class*="col-"]{
    height: 3rem;
    background-color: #006cfa;
    flex:0 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.849);
    text-align: center;
    line-height: 3rem;
    color: white;
}
.col{
    height: 2rem;
    background-color: #01e165;
    border: 1px solid #006cfa;
    line-height: 2rem;
}
.col-1{
    width: calc((100% / 12) * 1);
    min-width: calc((100% / 12) * 1);
}
.col-2{
    width: calc((100% / 12) * 2);
    min-width: calc((100% / 12) * 2);
}
.col-3{
    width: calc((100% / 12) * 3);
    min-width: calc((100% / 12) * 3);
}
.col-4{
    width: calc((100% / 12) * 4);
    min-width: calc((100% / 12) * 4);
}
.col-5{
    width: calc((100% / 12) * 5);
    min-width: calc((100% / 12) * 5);
}
.col-6{
    width: calc((100% / 12) * 6);
    min-width: calc((100% / 12) * 6);
}
.col-7{
    width: calc((100% / 12) * 7);
    min-width: calc((100% / 12) * 7);
}
.col-8{
    width: calc((100% / 12) * 8);
    min-width: calc((100% / 12) * 8);
}
.col-9{
    width: calc((100% / 12) * 9);
    min-width: calc((100% / 12) * 9);
}
.col-10{
    width: calc((100% / 12) * 10);
    min-width: calc((100% / 12) * 10);
}
.col-11{
    width: calc((100% / 12) * 11);
    min-width: calc((100% / 12) * 11);
}
.col-12{
    width: calc((100% / 12) * 12);
    min-width: calc((100% / 12) * 12);
}


.col-offset-1{
    margin-left: calc((100% / 12) * 1);
}
.col-offset-2{
    margin-left: calc((100% / 12) * 2);
}
.col-offset-3{
    margin-left: calc((100% / 12) * 3);
}
.col-offset-4{
    margin-left: calc((100% / 12) * 4);
}
.col-offset-5{
    margin-left: calc((100% / 12) * 5);
}
.col-offset-6{
    margin-left: calc((100% / 12) * 6);
}
.col-offset-7{
    margin-left: calc((100% / 12) * 7);
}
.col-offset-8{
    margin-left: calc((100% / 12) * 8);
}
.col-offset-9{
    margin-left: calc((100% / 12) * 9);
}
.col-offset-10{
    margin-left: calc((100% / 12) * 10);
}
.col-offset-11{
    margin-left: calc((100% / 12) * 11);
}
.col-offset-12{
    margin-left: calc((100% / 12) * 12);
}